.footer-container {
    background-color: #000; 
    color: #fff; 
    width: 100%;
    height: 20rem;
    text-align: center;
    padding: 1rem 0;
    position: relative; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.img-icon {
 width: 2rem;
 height: 2rem;   
}

.icons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.group-3 {
    /* display: flex; */
    width: 20rem;
    gap: 5rem;
    flex-shrink: 2;
} 


/* Responsive düzenlemeler */
@media (max-width: 480px) {
    .footer-container {
        padding: 0.5rem;
        flex-wrap: wrap;
        height: 20%;

    }

    .group-3 {
        width: 100%;
        gap: 1rem; /* Aralık daha da azaltıldı */
    }

    .icons {
        gap: 0.25rem; /* Aralık daha da azaltıldı */
    }
}
