
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
/* .form-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin-top: -60px; 
  
}
 .food-card {
  display:flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
} 


.box {
  max-width: 500px;
  font-family: Barlow; 
}

.pizza-bilgi {
  text-align: flex-start;
  align-items: center;
  
}
/* ARTTIR-EKSİLT BUTONU */

/* .art-eksil {
  background-color: rgba(250, 247, 242, 1);
  border: none;
  padding: 10px ;
  margin-top: 20px;
} 


.art-eksil:hover {
  cursor: pointer;
  
}

.count { */
  /* padding: 10px  ; */
   /* background-color: rgba(250, 247, 242, 1);
  ;
 
} 
.bottom-container {
  display: flex;
  
}
.boyut-hamur {
  display: flex;
  justify-content: space-between;
  gap: 20px;
} 
.boyut-hamur h3{
  width: 146px;
  height: 25px;
} */
 
/* CHECKBOX KISMISIIIII*/
 
/* .checkbox-container {   
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.checkbox-item{
  flex: 0 1 calc(40% - 10vh);
  box-sizing: border-box;
  font-size:16px;
   line-height:28.8px;
   display: flex;
   flex-wrap: wrap;
}
.checkbox-item:hover{
 cursor: pointer;
} 
.bottom-container{
  display: flex;
  justify-content: space-between;
}
.pizza-description {
  color:rgba(95, 95, 95, 1);
  
}
.pizza-name {
  color: rgba(41, 41, 41, 1);
  font-size: 22px;
}
.pizza-price {
  color: rgba(41, 41, 41, 1);
  font-size: 28px;
}
input[type="radio"] {
  display: none;

}

.radio-group {
  display: flex;
  justify-content:center ;
  margin: 100px 0px 10px 0px;
  
 
  
}

.radio-label {
  margin: 10px;
  padding: 10px ;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
 

}
.dropbox {
  background-color:rgba(250, 247, 242, 1);
  padding: 20px 30px 20px 2px;
  border: none;
  border-radius: 10px;
}
.textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color:rgba(250, 247, 242, 1);
  padding: 10px;
 
} 

 */ 
 .colored-div {
  width: 100%;
  height: 30%;
  background-color: aquamarine;
 }
 .food-card {
   display: flex;
   flex-direction: column;  
   justify-content: center;
   align-items: center;
  }
  
  .box {
    max-width: 40%;
    font-family: Barlow;
  }
  .form-banner {
   display: flex;
   /* align-items: center;
   justify-content: center; */
   max-width: 90%;
   margin-top: -3rem; 
 }

.pizza-bilgi {
  text-align: flex-start;
  align-items: center;
}
.pizza-bilgi-ps {
  display: flex;
  justify-content: space-between;
}

/* ARTTIR-EKSİLT BUTONU */
.art-eksil {
  background-color: rgba(250, 247, 242, 1);
  border: none;
  padding: 0.625rem; 
  margin-top: 1.25rem;
}
.buttons {
 position: relative;
}
.art-eksil:hover {
  cursor: pointer;
}

.count {
  background-color: rgba(250, 247, 242, 1);
}

.bottom-container {
  display: flex;
}

.baslik {
  display: flex;
  justify-content: space-around;
 
}
.boyut-hamur {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap;
}


/* CHECKBOX KISMI */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: space-between;
}

.checkbox-item {
  flex: 0 1 calc(40% - 10vh);
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  /* background-color: rgba(250, 247, 242, 1); */
}

.checkbox-item:hover {
  cursor: pointer;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background: #d5d5eb;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
 }
 .checkbox-container input:checked ~ .checkmark {
  background-image: linear-gradient(rgba(253, 201, 19, 1),rgba(253, 201, 19, 1))
 }
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 .checkbox-container input:checked ~ .checkmark:after {
  display: block;
 }
 .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }
 .checkbox-container .checkmark:after {
  left: 0.50em;
  top: 0.35em;
  width: 0.30em;
  height: 0.5em;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }
 


.bottom-container {
  display: flex;
  justify-content: space-between;
  position:static;
}

.pizza-description {
  color: rgba(95, 95, 95, 1);
}

.pizza-name {
  color: rgba(41, 41, 41, 1);
  font-size: 1.375rem;
}

.pizza-price {
  color: rgba(41, 41, 41, 1);
  font-size: 1.75rem;
}


input[type="radio"] {
  display: none;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6.25rem 0 0.625rem 0;
  margin-top: 0%;
}

.radio-group {
  display: flex;
  justify-content: center;
 
}

.radio-label {
   margin: 0.625rem;
   padding: 0.625rem; 
   width: 3.125rem ; 
  height: 3.125rem;
 
  border-radius: 50%;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 3.125rem;
  cursor: pointer;

}

.radio-label.selected {
  background-color: rgba(255, 238, 204, 1);
}




.dropbox {
  background-color: rgba(250, 247, 242, 1);
  padding: 1.25rem 1.875rem 1.25rem 0.125rem;
  border: none;
  border-radius: 0.625rem;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgba(250, 247, 242, 1);
  padding: 0.625rem;
  border: none;
}

.siparis-toplami {
  
  width: 20rem;
  height: 1rem;
  background-color: rgba(250, 247, 242, 1);
}
.siparis-button {
  width: 100%;
  background-color: rgba(253, 201, 19, 1);
  border: none;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 0rem;

}



































































/*
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */


/*RADİO BUTTON !!!!!!!!!!!!!!!!!!!!!!!     */





/* SİPARİŞ TOPLAMI BÖLÜMÜÜÜÜ*/
/* .siparis-toplami {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  width: 386px;
  height: 255px;
  gap: 0px;
  padding: 5px 10px 10px 5px  ;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  background-color: #FAF7F2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

}
.siparis-toplami button {
  background-color:#FDC913;
  box-shadow: 0px 5px 10px;
  width: 100%;
  height: 62px;
} */


/* RESPONSİVE YAPALIM HAYDİİİ*/
/* @media (min-width: 768px) {
  .food-card {
    padding: 40px;
  }
} 
*/